.product-box {
    margin-bottom: 50px;
}

.product-box img {
    height: 200px;
    margin: 10px;
}

.product-box .name-heading {
    margin: 10px;
}

.product-box .management {
    margin: 10px;
}

.spanner {
    display: block;
    background-color: lightslategray;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
}

.comment {
    margin-bottom: 20px;
    border: 1px solid lightslategray;
}